/* body html and anchor styles */

html, body { 
  height: 100%; 
  font-family: 'Kalam', cursive !important;
}

a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}
a:hover{
  color: yellow;
}
body {
  display: flex;
  align-items: center;
  background-color: rgb(174, 169, 169);
  justify-content: center;
 
 }

/* BACKGROUND & DISPLAY */
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* font & text styles */
.lead{
  color: blue;
}

p{
  color: black;
  font-size: 30px;
}

*{
  align-items: center;
  text-align: center;
  
}


/*fa fa icons*/

.icons-social i{
  padding: 10px;
  font-size: 40px;

}

.icons-social a{
  margin: 9px;
  color: blue;
}

.icons-social a:hover{
  color: yellow;
}